{
  config,
  ...
}: {
  settings.hardwarePlatform = config.settings.hardwarePlatforms.{{ hardware_platform }};
  settings.profile = config.settings.profiles.{{ profile }};
  {% if server %}
  settings.server.enable = true;
  {% endif %}
  {% if hardware_platform is in ['pi4', 'zero2'] %}
  swapDevices = [{device = "/dev/disk/by-label/SWAP";}];
  {% endif %}
}
